<meta charset="UTF-8">
<script src="https://unpkg.com/vue@2"></script>

<div id="app">
    <ul>
        <li v-for="(cor, index) in cores" :key="cor">{{cor}} - {{index}}</li>
    </ul>
    <button @click="cores.push('branca')">Adicionar</button>
    <hr>
    <template v-for="(cor, index) in cores">
        <h1>{{cor}}</h1>
        <p>{{index}}</p>
    </template>
    <hr>
    <ul>
        <li v-for="pessoa in pessoas">
            <div v-for="(valor, key) in pessoa">
              {{key}} = {{pessoa[key]}}
            </div>
        </li>
    </ul>
    <hr>
    <span v-for="n in 10">{{n}}</span>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            cores: ['vermelho', 'verde', 'amarelo', 'rosa'],
            pessoas: [
                {
                    nome: 'Amanda',
                    idade: 27,
                    peso: 60
                },
                {
                    nome: 'Leonardo',
                    idade: 26,
                    peso: 50
                }
            ]
        }
    })
</script>